@import 'reset.css';

*{
    box-sizing: border-box;
}


.bmi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 28px;
}

input{
    margin: 10px;
}

.container{
    border: 1px solid black;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    text-align: center;
    font-size: 24px;
}


#description, #result{
    font-size: 24px;
    color: red;
}

h2{
    font-size: 24px;
    padding: 20px;
}

button{
    margin: 10px;
    padding: 10px;
}